

<nav class="navbar">
  <div class="logo">Counter<span>App</span></div>
  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
    <a routerLink="/up" routerLinkActive="active" class="nav-link">Up</a>
    <a routerLink="/down" routerLinkActive="active" class="nav-link">Down</a>
    <a routerLink="/reset" routerLinkActive="active" class="nav-link">Reset</a>
    <a routerLink="/communes" routerLinkActive="active" class="nav-link">Communes</a>
  </div>
</nav>
