.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  background: white;
  border-bottom: 1px solid #e2e8f0;
}

.logo {
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
}

.logo span { color: var(--accent); }

.nav-link {
  margin-left: 1.5rem;
  font-weight: 600;
  color: var(--text-muted);
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  &.active { color: var(--accent); }
  &:hover{
    color: var(--accent)
  }
}

.nav-link:hover { color: var(--accent); }
